<section {{bind-attr class=":map mapCollapsed"}}>
  <ul class="clearfix">
    <li class='secondary'>
      <span class="topic-map-item-value">{{number topic.replyCount}}</span>
      <span class="topic-map-item-title">Posts</span>
    </li>
    <li class='secondary'>
      <span class="topic-map-item-value">{{number topic.views class=topic.viewsHeat}}</span>
      <span class="topic-map-item-title">Views</span>
    </li>
    <li class='secondary'>
      <span class="topic-map-item-value">{{number topic.participant_count}}</span>
      <span class="topic-map-item-title">Contributors</span>
    </li>
    {{#if topic.like_count}}
      <li class='secondary'>
        <i class="fa fa-heart fa-heart-small"></i>
        <span class="topic-map-item-value">{{number topic.like_count}}</span>
      </li>
    {{/if}}
    {{link-top-answer}}
  </ul>
</section>
